<h1 class='text-center'> Welcome to SnaFoo! </h1>

<br />

<h5 class='text-center'> Permanent Snacks: </h5>

<br class='clear'/>

<div class='col-3 perm'>
  <ul class='list-group'>
    <% @permanent_snacks.each do |snack| %>
      <li class='list-group-item'>
        <%= snack["name"] %>
      </li>
    <% end %>
  </ul>
</div>

<br  />

<h5 class='text-center'> Suggested Snacks: </h5>

<h6 class='text-center'> Vote for the snacks you want to see this month! </h6>

<h7 class='votes-rem'> Votes Remaining = <%= 3 - (session['total_votes'] || 0) %> </h7>

<br class='clear' />
<br  />

<div class='container text-center'>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<div class='text-center'>
  <% @optional_snacks.each do |snack| %>
    <%= snack["name"] %>
    <%= snack["last_purchased"] %>
    <%= link_to "Vote", votes_snacks_path, class: 'btn btn-secondary' %>
    <br  />
  <% end %>
</div>

<br  />
<br  />

<h4 class='text-center'> Don't see anything you like? </h5>

<br  />

<div class='text-center'>
  <%= link_to "Make a suggestion", new_snack_path, :class => 'btn btn-lg btn-secondary' %>
</div>

<br  />
<br  />
